@model IeltsMaterial

@{Layout = null;}
@Html.HiddenFor(X => X.UserId, new { @Value = Model.UserId })
<div class="row">
    <div class="col-sm-3 m-b-20">
        <p class="f-500 m-b-10 c-black">
            @Html.DisplayNameFor(X => X.TopicId)
        </p>
        @Html.DropDownListFor(X => X.TopicId, (IEnumerable<SelectListItem>)ViewBag.Topic, new { @data_live_search = "true", @class = "selectpicker bs-select-hidden" })
    </div>
    <div class="col-sm-6 m-b-20">
        <div class="input-group has-feedback m-b-20">
            <div class="fg-line">
                <label>@Html.DisplayNameFor(X => X.File)</label>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-primary btn-file m-r-10 waves-effect">
                        <span class="fileinput-new">@LocalMessage.SelectFile</span>
                        <span class="fileinput-exists">@LocalMessage.ChangeFile</span>
                        <input type="file" name="file" id="file" accept=".doc,.docx">
                    </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>
                </div>
            </div>
            <small class="help-block">
                @Html.ValidationMessageFor(X => X.File)
            </small>
            <span class="zmdi form-control-feedback"></span>
        </div>
    </div>
</div>
<div class="row topicDetail" style="display:none">

</div>
