@model IEnumerable<IeltsMaterial>

@{ Layout = null;}
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body x-overflow">
        <div class="table-responsive table-hover ClassGrid">
            <table id="classDataGrid" class="table table-striped ">
                @{ Html.RenderPartial(MVC.IELTS.Views.Partial._HeaderIeltsMaterialGrid, new IeltsMaterial());}
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="ieltsMaterialId_@item.IeltsMaterialId">
                            <td>@item.Book.Type</td>
                            <td>@item.ExamType.Type</td>
                            <td>@item.Topic</td>
                            <td>@item.TestNumber</td>
                            <td>@item.Page</td>
                            <td>@item.SendDateSh</td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input disabled type="checkbox" checked="@item.IsComplete" class="checkbox">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a target='_blank' href="@item.File">
                                    <div class="file @item.Path.Split('.')[1].Replace(".",string.Empty)"></div>
                                </a>
                            </td>
                            <td>
                                @if (!item.IsComplete)
                                {
                                    <a href="#" data-path="@item.Path" data-url="@Url.Action(MVC.IELTS.ActionNames.Delete,MVC.IELTS.Name)" data-message="@LocalMessage.DeleteConfirm" data-id="@item.IeltsMaterialId" class="deleteMaterial f-s-22" ><i class="c-red zmdi zmdi-close"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
