@model  IEnumerable<User>
 
@{
    Layout = null;
    var ChangeStatusUrl = Url.Action(MVC.User.ActionNames.ChangeState, MVC.User.Name);
}
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body x-overflow">
        <div class="table-responsive table-hover">
            <table id="classDataGrid" class="table table-striped ">
                @{ Html.RenderPartial(MVC.User.Views.Partial._HeaderUserGrid, new User());}
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="@item.UserId">
                            <td>@item.FullName</td>
                            <td>@item.Mobile</td>
                            <td>@item.BirthDate</td>
                            <td>@item.RegisterPersianDate</td>
                            <td>@item.LastLoginPersianDate</td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input disabled type="checkbox" checked="@item.IsTeacher" class="checkbox">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input disabled type="checkbox" checked="@item.IsActive" class="checkbox activeUserChecked">
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <ul class="actions">
                                    <li class="dropdown action-show dropup">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu  dm-icon">
                                            <li>
                                                <a data-url="@ChangeStatusUrl" data-userId="@item.UserId" class="cursorPointer deactiveUser " style="@(item.IsActive ? "" : "display:none")">
                                                    <i class="zmdi zmdi-square-o">
                                                    </i>
                                                    @LocalMessage.DeActive
                                                </a>
                                                <a data-url="@ChangeStatusUrl" data-userId="@item.UserId" class="cursorPointer activeUser " style="@(item.IsActive ? "display:none" : "" )">
                                                    <i class=" zmdi zmdi-check">
                                                    </i>
                                                    @LocalMessage.Active
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action(MVC.Account.ActionNames.Profile, MVC.Account.Name, new { userId = item.UserId })">
                                                    <i class="zmdi zmdi-account"></i>
                                                    @LocalMessage.Profile
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="@Url.Action(MVC.UserInClass.ActionNames.Add, MVC.UserInClass.Name, new { userId = item.UserId })">
                                                    <i class="zmdi zmdi-accounts-add"></i>
                                                    @LocalMessage.AddUserInClass
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#sendPrivateMessageModal" class="sendPrivateMessageModal" data-userId="@item.UserId" data-toggle="modal">
                                                    <i class="zmdi zmdi-comment-more"></i>
                                                    @LocalMessage.SendMessage
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="m-t-10"></div>
        </div>
    </div>
</div>

@using (Ajax.BeginForm(MVC.Notification.ActionNames.SendToUser, MVC.Notification.Name, null, new AjaxOptions
{
    HttpMethod = "POST",
    OnComplete = "onSendPrivateNotificationComplete"
}, new { @id = "sendNotificationFrm" }))
{
    <input type="hidden" value="" name="UserId" id="UserId_PrivateMessage" />
    <div class="modal fade " id="sendPrivateMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@LocalMessage.SendMessage</h4>
                </div>
                <div class="modal-body">
                    <p>@LocalMessage.SendMessageDescription</p>
                    <div class="input-group has-feedback m-b-20">
                        <div class="fg-line">
                            <textarea id="message_PrivateMessage" data-val-required="این فیلد اجباری می باشد" name="message" maxlength="200" autocomplete="off" placeholder="@LocalMessage.Content" class="form-control" data-val="true" data-val-length="لطفا بیشتر از 200 کاراکتر وارد ننمایید" data-val-length-max="200" data-val-maxlength="لطفا بیشتر از 200 کاراکتر وارد ننمایید" data-val-maxlength-max="200" value="" rows="5"></textarea>
                        </div>
                        <small class="help-block">
                            <span class="field-validation-valid" data-valmsg-for="message" data-valmsg-replace="true"></span>
                        </small>
                        <span class="zmdi form-control-feedback"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="saveAboutMeForm" class="btn btn-primary btn-sm waves-effect">
                        <i class="zmdi zmdi-check"></i>
                        @LocalMessage.Save
                    </button>
                    <button class="btn btn-danger btn-sm waves-effect" data-dismiss="modal">
                        <i class="zmdi zmdi-arrow-forward"></i>
                        @LocalMessage.Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

}