@model IEnumerable<Education>
@{
    Layout = null;
}

<div class="pmb-block p-0" id="educationInfo">
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <div class="listview">
                <div class="lv-body" id="educationList">
                    @foreach (var item in Model)
                    {
                        <a class="lv-item z-depth-1 m-b-5 animated" id="educationFragment_@item.EducationId" href="#">
                            <div class="media">
                                <div class="pull-right">
                                </div>
                                <div class="pull-left">
                                    <span   data-Id="@item.EducationId" class="closeEducation">
                                        <i class="zmdi zmdi-close c-red f-s-17 p-l-5"></i>
                                    </span>
                                    <span  data-Id="@item.EducationId" data-public="@item.IsPublic.ToString().ToLower()" class="publicEducation">
                                        <i class="zmdi @(item.IsPublic? "zmdi-globe c-green" : "zmdi-globe-lock c-gray" ) f-s-17"></i>
                                    </span>
                                </div>
                                <div class="media-body p-r-0 ">
                                    <div class="lv-title">@item.School - @item.Field</div>
                                    <small class="lv-small">
                                        @item.EducateStartYear - @(!item.Graduated ? @LocalMessage.UptoNow : item.EducateFinishYear.ToString() )
                                    </small>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div data-pmb-action="edit" class="addnewitem waves-effect m-t-25">
                <i class="zmdi zmdi-plus"></i>
                @LocalMessage.AddEducation
            </div>
        </div>
        <div class="pmbb-edit">
            @using (Ajax.BeginForm(MVC.Education.ActionNames.AddEducation, MVC.Education.Name,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnComplete = "addEducationComplete"
                }, new { @id = "addEducationFrm" }))
            {
                Html.RenderPartial(MVC.Education.Views.Partial._EducationCreate, new Education { UserId = ViewBag.UserId });
                <div class="m-t-30 text-left">
                    <button id="saveBasicInfoForm" class="btn btn-primary btn-sm waves-effect">
                        <i class="zmdi zmdi-check"></i>
                        @LocalMessage.Save
                    </button>
                    <button data-pmb-action="reset" class="btn btn-danger btn-sm waves-effect">
                        <i class="zmdi zmdi-arrow-forward"></i>
                        @LocalMessage.Cancel
                    </button>
                </div>
            }
        </div>
    </div>
</div>
