@model UserStatistics
@{ Layout = null;}
<div class="col-sm-12">
    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-cyan">
                    <div class="clearfix">
                        <div class="chart userCount">
                            <canvas width="83" height="45" style="display: inline-block; width: 83px; height: 45px; vertical-align: top;"></canvas>
                        </div>
                        <div class="count">
                            <small>@LocalMessage.UserCount</small>
                            <h2>@Model.UserCount</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-lightgreen">
                    <div class="clearfix">
                        <div class="chart studentCount">
                            <canvas width="85" height="45" style="display: inline-block; width: 85px; height: 45px; vertical-align: top;"></canvas>
                        </div>
                        <div class="count">
                            <small>@LocalMessage.StudentCount</small>
                            <h2>@Model.StudentCount</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-orange">
                    <div class="clearfix">
                        <div class="chart commentCount">
                            <canvas width="85" height="45" style="display: inline-block; width: 85px; height: 45px; vertical-align: top;"></canvas>
                        </div>
                        <div class="count">
                            <small>@LocalMessage.CommentCount</small>
                            <h2>@Model.CommentCount</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-bluegray">
                    <div class="clearfix">
                        <div class="chart webSiteVisitCount"><canvas width="85" height="45" style="display: inline-block; width: 85px; height: 45px; vertical-align: top;"></canvas></div>
                        <div class="count">
                            <small>@LocalMessage.WebSiteVisitCount</small>
                            <h2>@Model.WebSiteVisitCount</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    Html.AddJavaScript( @<text>
        <script>
            $(document).ready(function () {
                sparklineBar('userCount', [@Model.UserCountList], '45px', 3, '#fff', 2);
                sparklineBar('studentCount', [@Model.StudentCountList], '45px', 3, '#fff', 2);
                sparklineLine('commentCount', [@Model.CommentCountList], 85, 45, '#fff', 'rgba(0,0,0,0)', 1.25, 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 3, '#fff', 'rgba(255,255,255,0.4)');
                sparklineLine('webSiteVisitCount', [@Model.WebSiteVisitCountList], 85, 45, '#fff', 'rgba(0,0,0,0)', 1.25, 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 3, '#fff', 'rgba(255,255,255,0.4)');
            });
        </script>
    </text>);
}