@model IEnumerable<ActionRole>
@{ Layout = null;}
<ul class="main-menu">
    @foreach (var item in Model)
    {
        <li id="@item.ActionRoleId" class="@(item.IsFirstAction ? "active":string.Empty)">
            <a href="@Url.Action(item.ActionName,item.Controller)">
                <i class="zmdi @(item.Icon)"></i>
                @item.ActionNameFa
            </a>
        </li>
    }
</ul>
