<ul class="main-menu">
    <li class="active">
        <a href="@Url.Action(MVC.Dashboard.ActionNames.User,MVC.Dashboard.Name)">
            <i class="zmdi zmdi-trending-up"></i>
            @LocalMessage.Dashboard
        </a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Class.ActionNames.AddClass,MVC.Class.Name)">
            <i class="zmdi zmdi-assignment-o"></i>
            @LocalMessage.ClassManagement
        </a>
    </li>
    <li>
        <a href="@Url.Action(MVC.Dashboard.ActionNames.ManageBaseInformation,MVC.Dashboard.Name)">
            <i class="zmdi zmdi-assignment-o"></i>
            @LocalMessage.BasicInfoManagement
        </a>
    </li>
</ul>
