<ul class="main-menu">
    <li id="1">
        <a href="@Url.Action(MVC.Dashboard.ActionNames.User,MVC.Dashboard.Name)">
            <i class="zmdi zmdi-trending-up"></i>
            @LocalMessage.Dashboard
        </a>
    </li>
    <li id="2">
        <a href="@Url.Action(MVC.Class.ActionNames.AddClass,MVC.Class.Name)">
            <i class="zmdi zmdi-assignment-o"></i>
            @LocalMessage.ClassManagement
        </a>
    </li>
    <li id="3">
        <a href="@Url.Action(MVC.Dashboard.ActionNames.ManageBaseInformation,MVC.Dashboard.Name)">
            <i class="zmdi zmdi-assignment-o"></i>
            @LocalMessage.BasicInfoManagement
        </a>
    </li>
    <li id="7">
        <a href="@Url.Action(MVC.User.ActionNames.Manage,MVC.User.Name)">
            <i class="zmdi zmdi-accounts"></i>
            @LocalMessage.UserManagement
        </a>
    </li>
</ul>
