@model IEnumerable<ClassSession>
@{
    Layout = null;
    var count = 1;
}
<div class="row" id="sessionBlock">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header p-t-30 p-b-30 p-r-20 p-l-20 ch-alt ">
                    <h4>@item.Subject</h4>
                    @if (!item.IsCanceled)
                {
                <ul class="actions">
                    <li class="dropdown action-show  ">
                        <a href="" data-toggle="dropdown" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left dm-icon">
                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-download"></i>
                                    @LocalMessage.Download
                                </a>
                            </li>
                            <li>
                                <a href="#" class="sessionMaterialRequest" data-Id="@item.ClassSessionId" data-url="@Url.Action(MVC.SessionRequest.ActionNames.Add,MVC.SessionRequest.Name)">
                                    <i class="zmdi zmdi-file-plus"></i>
                                    @LocalMessage.SessionMaterialRequest
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                }
                    <button class="btn-square btn @(item.IsCanceled?"bgm-pink":"btn-success") btn-float waves-effect waves-circle waves-float p-0">
                        @count - @(count + 1)
                    </button>
                </div>
                <div class="card-body card-padding p-b-10">
                    <div class="pmo-contact">
                        <ul>
                            <li></li>
                            <li class="ng-binding"><i class="zmdi zmdi-format-align-right"></i>@(string.IsNullOrEmpty(item.Description) ? "---" : item.Description)</li>
                            <li class="ng-binding"><i class="zmdi zmdi-calendar-alt"></i> @item.ClassSessionDateSh</li>
                            <li class="ng-binding"><i class="zmdi zmdi-download"></i>@LocalMessage.FilesCount : @item.SessionMaterial.Count</li>
                        </ul>
                    </div>
                    <div class="lv-footer">
                        <div class="text-left row p-t-5 p-l-20">
                            @foreach (var material in item.SessionMaterial)
                        {
                        <div class="col-sm-1 pull-left">
                            @{
                                    bool expire = material.ExpireDate < DateTime.Now;
                            }
                            <a @(expire ? Html.Raw("") : Html.Raw("target='_blank'")) href="@(expire? "#" : material.DirectLink)">
                                <div class="file @material.Extension.Replace(".",string.Empty)"></div>
                            </a>
                        </div>
                                    }
                            @if (item.SessionMaterial.Count == 0)
                        {
                        <div class="noFileUploaded">@LocalMessage.NoFileUploaded</div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                    if (!item.IsCanceled)
                                    {
                                        count += 2;
                                    }
                                }
</div>
<div class="col-sm-12" >
@{Html.RenderPartial(MVC.Session.Views.Partial._SessionTimeLine, Model);}
</div>
 
