@{
    Layout = null;
    var CurrentUser = User as ICurrentUserPrincipal;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="@Url.Content(Links.Content.Images.Logo.log32_png)" type="image/x-icon" />
    <noscript>
        <meta http-equiv="refresh" content="0;url=/Content/NoScript.html" />
    </noscript>

    <title>YekanPedia</title>
    <!-- Public CSS -->
    @Styles.Render(Links.Bundles.Styles.PublicCss)
    <!-- CSS -->
    @Styles.Render(Links.Bundles.Styles.ContentCss)
    <!-- Rtl CSS -->
    @Styles.Render(Links.Bundles.Styles.ContentRtlCss)
    <link href="~/Content/Styles/Rtl/style.css" rel="stylesheet" />
    @RenderSection("InlineStyles", false)
</head>

<body class="transparent-header   wide">
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    <div class="page-wrapper">
        <div class="header-container">
            <div class="header-top dark ">
                <div class="container p-t-5">
                    <div class="row">
                        <div class="col-xs-3 col-sm-6 col-md-9">
                            <div class="header-top-first clearfix">
                                <ul class="social-links circle small clearfix hidden-xs">
                                    <li class="facebook">
                                        <img id="logo_img" src="@Url.Content(Links.Content.Images.Logo.log32_png)" alt="یکان پدیا">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-6 col-md-3">
                            @{ Html.RenderPartial(MVC.Shared.Views.Partial._UserProfile);}
                        </div>
                    </div>
                </div>
            </div>
            <header class="header  fixed   clearfix transparent-header-on">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 pull-right">
                            <div class="header-right clearfix">
                                <div class="main-navigation  animated with-dropdown-buttons">
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>
                                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                @{Html.RenderPartial(MVC.Shared.Views.Partial._Menu);}
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
        </div>
        <div class="banner clearfix m-t-75">
            <div class="slideshow">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <img src="http://192.185.228.226/projects/ma/1-5-1/jquery/media/carousel/c-1.jpg" alt="">
                            <div class="carousel-caption">
                                <h3>First Slide Label</h3>
                                <p>Some sample text goes here...</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://192.185.228.226/projects/ma/1-5-1/jquery/media/carousel/c-2.jpg" alt="">
                        </div>
                        <div class="item active">
                            <img src="http://192.185.228.226/projects/ma/1-5-1/jquery/media/carousel/c-3.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="zmdi zmdi-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="zmdi zmdi-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <section class="light-gray-bg pv-30 clearfix">
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </section>
        <footer id="footer" class="clearfix">
            <div class="footer">
                <div class="container">
                    <div class="footer-inner">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="footer-content">
                                    <div class="logo-footer">
                                        <img id="logo-footer" src="./The Project _ Footer - Google Maps_files/logo_blue.png" alt="">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipit doloribus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolore fugit vitae quia dicta inventore reiciendis. Ipsa, aut voluptas quaerat.</p>
                                            <ul class="social-links circle animated-effect-1">
                                                <li class="facebook"><a target="_blank" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                                <li class="twitter"><a target="_blank" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                                <li class="googleplus"><a target="_blank" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                                <li class="xing"><a target="_blank" href="http://www.xing.com/"><i class="fa fa-xing"></i></a></li>
                                                <li class="skype"><a target="_blank" href="http://www.skype.com/"><i class="fa fa-skype"></i></a></li>
                                                <li class="youtube"><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                            <ul class="list-icons">
                                                <li><i class="fa fa-map-marker pr-10 text-default"></i> One infinity loop, 54100</li>
                                                <li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
                                                <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>info@theproject.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-content">
                                    <h2 class="title">Contact Us</h2>
                                    <br>
                                    <div class="alert alert-success hidden" id="MessageSent2">
                                        We have received your message, we will contact you very soon.
                                    </div>
                                    <div class="alert alert-danger hidden" id="MessageNotSent2">
                                        Oops! Something went wrong please refresh the page and try again.
                                    </div>
                                    <form role="form" id="footer-form" class="margin-clear" novalidate="novalidate">
                                        
                                        <div class="input-group has-feedback m-b-20">
                                            <div class="fg-line">
                                                <label>نام</label>
                                                <input class="form-control" data-type="nu" data-val="true" data-val-number="The field مبلغ ( ریال ) must be a number." data-val-required="این فیلد اجباری می باشد" id="Price" name="Price" type="text" value="">
                                            </div>
                                            <small class="help-block">
                                                <span class="field-validation-valid" data-valmsg-for="Price" data-valmsg-replace="true"></span>
                                            </small>
                                            <span class="zmdi form-control-feedback"></span>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <label class="sr-only" for="email2">Email address</label>
                                            <input type="email" class="form-control" id="email2" placeholder="Enter email" name="email2">
                                            <i class="fa fa-envelope form-control-feedback"></i>
                                        </div>
                                        <div class="form-group has-feedback">
                                            <label class="sr-only" for="message2">Message</label>
                                            <textarea class="form-control" rows="6" id="message2" placeholder="Message" name="message2"></textarea>
                                            <i class="fa fa-pencil form-control-feedback"></i>
                                        </div>
                                        <input type="submit" value="Send" class="margin-clear submit-button btn btn-default">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="subfooter-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">Copyright © 2015 The Project by <a target="_blank" href="http://htmlcoder.me/">HtmlCoder</a>. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render(Links.Bundles.Scripts.CoreScripts)
    <!-- Function Libraries -->
    @RenderSection("Scripts", false)
    @Html.RenderJavaScriptsUrl()
    @Html.RenderJavaScripts()
</body>
</html>
