@model User
@{ Layout = null;}
<div class="card profile-view">
    <div class="pv-header">
        <img src="@Model.Picture.Replace("{size}","270")" class="pv-main" alt="">
    </div>
    <div class="pv-body">
        <h2>@Model.FullName</h2>
        <small> @(!string.IsNullOrEmpty(Model.AboutMe) ? Model.AboutMe : "---") </small>
        <ul class="pv-follow">
            <li><i class="zmdi zmdi-email"></i> @Model.Email</li>
        </ul>
        <ul class="pv-follow">
            <li><i class="zmdi zmdi-phone"></i> @Model.Mobile</li>
        </ul>
    </div>
</div>
