@{
    Layout = null;
}

<div class="lc-block" id="l-registerComplete">
    <img class="lcb-user" width="100" height="100" src="@Url.Content(Links.Content.Images.Logo.log100_png)" alt="@LocalMessage.YekanPedia">
    <div class="input-group m-b-20">
    </div>
    <div class="input-group m-b-20">
    </div>
    <p class="text-center">
        @LocalMessage.RegisterComplete
    </p>

    <ul class="login-navigation">
        <li data-block="#l-login" class="bgm-nily">@LocalMessage.SignIn</li>
        <li data-block="#l-forget-password" class="bgm-red">@LocalMessage.RecoveryPassword</li>
    </ul>
</div>
