@model IEnumerable<YekanPedia.ManagementSystem.Domain.Entity.ClassType>
<div class="col-sm-6">
    <div id="todo-lists">
        <div class="tl-header">
            <h4>@LocalMessage.AddClassType</h4>
            <small>@LocalMessage.AddClassTypeDescription</small>
        </div>
        <div class="clearfix"></div>
        <div class="tl-body" id="classTypeBody">
            <div id="add-tl-item" class="">
                <i class="add-new-item zmdi zmdi-plus"></i>
                <div class="add-tl-body">
                    <textarea placeholder="@LocalMessage.Content" id="classType"></textarea>
                    <div class="add-tl-actions">
                        <a href="" data-tl-action="dismiss"><i class="zmdi zmdi-close"></i></a>
                        <a href="" data-updateUrl="@Url.Action(MVC.ClassType.ActionNames.ChangeClassTypeStatus,MVC.ClassType.Name)" data-url="@Url.Action(MVC.ClassType.ActionNames.AddClassType,MVC.ClassType.Name)" id="classTypeSaveBtn" data-tl-action="save"><i class="zmdi zmdi-check"></i></a>
                    </div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="checkbox media">
                    <div class="media-body">
                        <label>
                            <input type="checkbox" data-url="@Url.Action(MVC.ClassType.ActionNames.ChangeClassTypeStatus,MVC.ClassType.Name)" class="EnableCheckbox" checked="@item.IsActive" data-id="@item.ClassTypeId">
                            <i class="input-helper"></i>
                            <span>@item.Type</span>
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
