@model Skills
<div class="row">
    @Html.HiddenFor(X => X.UserId, new { @Value = Model.UserId })
    <div class="col-sm-6 m-b-20">
        <div class="input-group has-feedback m-b-20">
            <div class="fg-line">
                <label>@Html.DisplayNameFor(X => X.Topic)</label>
                @Html.TextBoxFor(X => X.Topic, new {  @class = "form-control" })
            </div>
            <small class="help-block">
                @Html.ValidationMessageFor(X => X.Topic)
            </small>
            <span class="zmdi form-control-feedback"></span>
        </div>
    </div>
    <div class="col-sm-6 m-b-20">
        <div class="input-group has-feedback m-b-20">
            <div class="fg-line">
                <label>@Html.DisplayNameFor(X => X.Percent)</label>
                @Html.TextBoxFor(X => X.Percent, new { @data_type = "fa", @class = "form-control" })
            </div>
            <small class="help-block">
                @Html.ValidationMessageFor(X => X.Percent)
            </small>
            <span class="zmdi form-control-feedback"></span>
        </div>
    </div>
    <div class="col-sm-6 m-b-20">
        <label>@Html.DisplayNameFor(X => X.IsPublic)</label>
        <div class="checkbox">
            <div class="checkbox">
                <label>
                    <input type="hidden" value="false" class="checkbox" id="IsPublic" name="IsPublic">
                    <input type="checkbox" class="checkbox" id="Edit_IsPublic" data-join="IsPublic">
                    <i class="input-helper"></i>
                </label>
            </div>
        </div>
    </div>
</div>
