@model User
@Html.HiddenFor(X => X.UserId)
<div class="card" id="profile-main">
    <div class="pm-overview c-overflow" tabindex="3">
        <div class="pmo-pic">
            <div class="p-relative">
                <div class="lightbox row">
                    <div data-src="@Model.Picture.Replace("{size}","270")" class="col-sm-12">
                        <div class="lightbox-item">
                            <img src="@Model.Picture.Replace("{size}","270")" alt="@Model.FullName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pm-body clearfix">
        <ul class="tab-nav tn-justified" data-tab-color="amber" tabindex="1" style="overflow: hidden; outline: none;">
            <li class="active waves-effect">
                <a href="#ChangePicture" aria-controls="ChangePicture" role="tab" data-toggle="tab">@LocalMessage.ChangePicture</a>
            </li>
            <li class="waves-effect">
                <a href="#ChangeAvatarPicture" aria-controls="ChangePicture" role="tab" data-toggle="tab">@LocalMessage.Avatar</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="ChangePicture" class="tab-pane fade in active">
                <div class="fileinput fileinput-new p-l-30" data-provides="fileinput">
                    @using (Html.BeginForm(MVC.Account.ActionNames.UploadUserPicture, MVC.Account.Name, FormMethod.Post, new { @id = "uploadFileFrm", @enctype = "multipart/form-data" }))
                    {
                        <input id="userId" name="userId" type="hidden" value="@Model.UserId" />
                        <input id="x" name="x" type="hidden" />
                        <input id="y" name="y" type="hidden" />
                        <input id="width" name="width" type="hidden" />
                        <input id="height" name="height" type="hidden" />

                        <button type="button" style="display:none" class="btn btn-float waves-effect btn-primary btn-corner-left" id="uploadImage">
                            <i class="zmdi zmdi-check"></i>
                        </button>
                        <div class="fileinput-preview thumbnail">
                            <img src="" class="cropper-image">
                        </div>
                        <div>
                            <span class="btn btn-info btn-file waves-effect">
                                <span class="fileinput-new">@LocalMessage.SelectImage</span>
                                <span class="fileinput-exists">@LocalMessage.Change</span>
                                <input type="hidden" value="" name="">
                                <input type="file" id="file" name="file">
                            </span>
                            <a href="#" class="btn btn-danger fileinput-exists waves-effect" data-dismiss="fileinput">@LocalMessage.Delete</a>
                        </div>
                    }
                </div>
            </div>
            <div id="ChangeAvatarPicture" class="tab-pane fade in ">
                <div class="pmb-block" id="AboutMePanel">
                    <div class="pmbb-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._1_png)" alt="">
                                </a>
                            </div>

                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._2_png)" alt="">
                                </a>
                            </div>

                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._3_png)" alt="">
                                </a>
                            </div>

                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._4_png)" alt="">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._5_png)" alt="">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._6_png)" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._7_png)" alt="">
                                </a>
                            </div>

                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._8_png)" alt="">
                                </a>
                            </div>

                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._9_png)" alt="">
                                </a>
                            </div>

                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._10_png)" alt="">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img src="@Url.Content(Links.Content.Images.Avatar._11_png)" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render(Links.Bundles.Scripts.AccountScripts)
}
