@model User

<div class="card" id="profile-main">
    <div class="pm-overview c-overflow" tabindex="3" style="overflow: hidden; outline: none;">
        <div class="pmo-pic">
            <div class="p-relative">

                <div class="lightbox row">
                    <div data-src="@Model.Picture.Replace("{size}","270")" class="col-sm-12">
                        <div class="lightbox-item">
                            <img src="@Model.Picture.Replace("{size}","270")" alt="@Model.FullName">
                        </div>
                    </div>
                </div>
                @if ((User as ICurrentUserPrincipal).UserId != Model.UserId)
                {
                    using (Ajax.BeginForm(MVC.Notification.ActionNames.SendToUser, MVC.Notification.Name, null, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnComplete = "onSendPrivateNotificationComplete"
                    }, new { @id = "sendNotificationFrm" }))
                    {
                        @Html.HiddenFor(X => X.UserId)
                        <div class="dropdown pmop-message">
                            <a data-toggle="dropdown" href="" class="btn bgm-white btn-float z-depth-1 waves-effect waves-circle waves-float">
                                <i class="zmdi zmdi-comment-text-alt"></i>
                            </a>
                            <div class="dropdown-menu">
                                <textarea id="message" name="message" placeholder="@LocalMessage.Content"></textarea>
                                <button type="submit" class="btn bgm-blue btn-icon waves-effect waves-circle waves-float">
                                    <i class="zmdi zmdi-mail-send"></i>
                                </button>
                            </div>
                        </div>
                    }

                }
                <a href="@Url.Action(MVC.Account.ActionNames.ChangePicture, MVC.Account.Name, new { userId = Model.UserId })" class="pmop-edit">
                    <i class="zmdi zmdi-camera"></i>
                    <span class="hidden-xs">@LocalMessage.ChangePicture</span>
                </a>
            </div>
            <div class="pmo-stat">
                <h2 class="m-0 c-white">10</h2>
                امتیازات
            </div>
        </div>
        @{ Html.RenderAction(MVC.Course.ActionNames.UserCourses, MVC.Course.Name, new { userId = Model.UserId });}
    </div>
    <div class="pm-body clearfix">
        <ul class="tab-nav tn-justified" data-tab-color="amber" tabindex="1" style="overflow: hidden; outline: none;">
            <li class="active waves-effect">
                <a href="#AboutUs" aria-controls="AboutUs" role="tab" data-toggle="tab">@LocalMessage.AboutMe</a>
            </li>
            <li class=" waves-effect">
                <a href="#education" aria-controls="TimeLine" role="tab" data-toggle="tab">@LocalMessage.Education</a>
            </li>
            <li class="waves-effect">
                <a href="#work" aria-controls="TimeLine" role="tab" data-toggle="tab">@LocalMessage.Work</a>
            </li>
            <li class="waves-effect">
                <a href="#">@LocalMessage.Activities</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="AboutUs" class="tab-pane fade in active">
                <div class="pmb-block" id="AboutMePanel">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-equalizer m-l-5"></i> @LocalMessage.ShortAboutMe</h2>
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li>
                                        <a data-pmb-action="edit" href="">@LocalMessage.Edit</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            @Model.AboutMe
                        </div>
                        <div class="pmbb-edit">
                            @using (Ajax.BeginForm(MVC.Account.ActionNames.EditAboutMe, MVC.Account.Name, null, new AjaxOptions()
                            {
                            HttpMethod = "POST",
                            OnComplete = "EditAboutMeComplete"

                            }, new { @id = "aboutMeFrm" }))
                            {
                            @Html.HiddenFor(X => X.UserId, new { @Value = Model.UserId })
                            <div class="input-group has-feedback m-b-20">
                                <div class="fg-line">
                                    @Html.TextBoxFor(X => X.AboutMe, new { @autocomplete = "off", @placeholder = @LocalMessage.ShortAboutMe, @class = "form-control" })
                                </div>
                                <small class="help-block">
                                    @Html.ValidationMessageFor(X => X.AboutMe)
                                </small>
                                <span class="zmdi form-control-feedback"></span>
                            </div>
                            <div class="m-t-10 text-left">
                                <button type="submit" id="saveAboutMeForm" class="btn btn-primary btn-sm waves-effect">
                                    <i class="zmdi zmdi-check"></i>
                                    @LocalMessage.Save
                                </button>
                                <button data-pmb-action="reset" class="btn btn-danger btn-sm waves-effect">
                                    <i class="zmdi zmdi-arrow-forward"></i>
                                    @LocalMessage.Cancel
                                </button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="pmb-block" id="BasicInfoPanel">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-account m-l-5"></i>@LocalMessage.BasicInfo</h2>
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li>
                                        <a data-pmb-action="edit" href="">@LocalMessage.Edit</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(X => X.FullName)</dt>
                                <dd id="DetailFullName">@Model.FullName</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(X => X.Sex)</dt>
                                <dd id="DetailSex">@Model.Sex</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(X => X.BirthDate)</dt>
                                <dd id="DetailBirthDate">@Model.BirthDate</dd>
                            </dl>
                        </div>
                        <div class="pmbb-edit">
                            @using (Ajax.BeginForm(MVC.Account.ActionNames.EditBasicInfo, MVC.Account.Name, null, new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                OnComplete = "EditBasicInfoComplete"
                            }, new { @id = "editBasicInfoFrm" }))
                            {
                                @Html.HiddenFor(X => X.UserId, new { @Value = Model.UserId })
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">@Html.DisplayNameFor(X => X.FullName)</dt>
                                    <dd>
                                        <div class="input-group has-feedback m-b-20">
                                            <div class="fg-line">
                                                @Html.TextBoxFor(X => X.FullName, new { @autocomplete = "off", @data_type = "fa", @class = "form-control" })
                                            </div>
                                            <small class="help-block">
                                                @Html.ValidationMessageFor(X => X.FullName)
                                            </small>
                                            <span class="zmdi form-control-feedback"></span>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">@Html.DisplayNameFor(X => X.Sex)</dt>
                                    <dd>
                                        <div class="input-group has-feedback m-b-20">
                                            <div class="fg-line">
                                                @Html.DropDownListFor(X => X.Sex, new List<SelectListItem> { new SelectListItem { Text = "مرد", Value = "مرد" }, new SelectListItem { Text = "زن", Value = "زن" } }, new { @class = "form-control" })
                                            </div>
                                            <small class="help-block">
                                                @Html.ValidationMessageFor(X => X.Sex)
                                            </small>
                                            <span class="zmdi form-control-feedback"></span>
                                        </div>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt class="p-t-10">@Html.DisplayNameFor(X => X.BirthDate)</dt>
                                    <dd>
                                        <div class="input-group has-feedback m-b-20">

                                            <div class="fg-line">
                                                @Html.TextBoxFor(X => X.BirthDate, new { @data_mask = "0000/00/00", @autocomplete = "off", @class = "form-control PersianCalendar" })
                                            </div>
                                            <small class="help-block">
                                                @Html.ValidationMessageFor(X => X.BirthDate)
                                            </small>
                                            <span class="zmdi form-control-feedback"></span>
                                        </div>
                                    </dd>
                                </dl>
                                <div class="m-t-30 text-left">
                                    <button id="saveBasicInfoForm" class="btn btn-primary btn-sm waves-effect">
                                        <i class="zmdi zmdi-check"></i>
                                        @LocalMessage.Save
                                    </button>
                                    <button data-pmb-action="reset" class="btn btn-danger btn-sm waves-effect">
                                        <i class="zmdi zmdi-arrow-forward"></i>
                                        @LocalMessage.Cancel
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="pmb-block" id="CallInfoPanel">
                    <div class="pmbb-header">
                        <h2><i class="zmdi zmdi-phone m-l-5"></i> @LocalMessage.CallInfo</h2>
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-left">
                                    <li>
                                        <a data-pmb-action="edit" href="">@LocalMessage.Edit</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(X => X.Mobile)</dt>
                                <dd id="DetailMobile">@Model.Mobile</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(X => X.Email)</dt>
                                <dd id="DetailEmail">@Model.Email</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(X => X.Twitter)</dt>
                                <dd id="DetailTwitter">@Model.Twitter</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(X => X.Facebook)</dt>
                                <dd id="DetailFacebook">@Model.Facebook</dd>
                            </dl>
                        </div>
                        <div class="pmbb-edit">
                            @using (Ajax.BeginForm(MVC.Account.ActionNames.EditCallInfo, MVC.Account.Name, null, new AjaxOptions()
                            {
                            HttpMethod = "POST",
                            OnComplete = "EditCallInfoComplete"
                            }, new { @id = "editCallInfoFrm" }))
                            {
                            @Html.HiddenFor(X => X.UserId, new { @Value = Model.UserId })
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">@Html.DisplayNameFor(X => X.Mobile)</dt>
                                <dd>
                                    <div class="input-group has-feedback m-b-20">
                                        <div class="fg-line">
                                            @Html.TextBoxFor(X => X.Mobile, new { @autocomplete = "off", @data_type = "nu", @class = "form-control" })
                                        </div>
                                        <small class="help-block">
                                            @Html.ValidationMessageFor(X => X.Mobile)
                                        </small>
                                        <span class="zmdi form-control-feedback"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">@Html.DisplayNameFor(X => X.Email)</dt>
                                <dd>
                                    <div class="input-group has-feedback m-b-20">

                                        <div class="fg-line">
                                            @Html.TextBoxFor(X => X.Email, new { @autocomplete = "off", @data_type = "en", @class = "form-control" })
                                        </div>
                                        <small class="help-block">
                                            @Html.ValidationMessageFor(X => X.Email)
                                        </small>
                                        <span class="zmdi form-control-feedback"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">@Html.DisplayNameFor(X => X.Twitter)</dt>
                                <dd>
                                    <div class="input-group has-feedback m-b-20">

                                        <div class="fg-line">
                                            @Html.TextBoxFor(X => X.Twitter, new { @autocomplete = "off", @data_type = "en", @class = "form-control" })
                                        </div>
                                        <small class="help-block">
                                            @Html.ValidationMessageFor(X => X.Twitter)
                                        </small>
                                        <span class="zmdi form-control-feedback"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt class="p-t-10">@Html.DisplayNameFor(X => X.Facebook)</dt>
                                <dd>
                                    <div class="input-group has-feedback m-b-20">

                                        <div class="fg-line">
                                            @Html.TextBoxFor(X => X.Facebook, new { @autocomplete = "off", @data_type = "en", @class = "form-control" })
                                        </div>
                                        <small class="help-block">
                                            @Html.ValidationMessageFor(X => X.Facebook)
                                        </small>
                                        <span class="zmdi form-control-feedback"></span>
                                    </div>
                                </dd>
                            </dl>
                            <div class="m-t-30 text-left">
                                <button id="saveCallInfoForm" class="btn btn-primary btn-sm waves-effect">
                                    <i class="zmdi zmdi-check"></i>
                                    @LocalMessage.Save
                                </button>
                                <button data-pmb-action="reset" class="btn btn-danger btn-sm waves-effect">
                                    <i class="zmdi zmdi-arrow-forward"></i>
                                    @LocalMessage.Cancel
                                </button>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="education" class="tab-pane fade p-20 ">

                @{
                    Html.RenderAction(MVC.Education.ActionNames.GetEducations, MVC.Education.Name, new { userId = Model.UserId });
                }
            </div>
            <div id="work" class="tab-pane fade p-20">
                @{
                    Html.RenderAction(MVC.Work.ActionNames.GetWorks, MVC.Work.Name, new { userId = Model.UserId });
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content(Links.Scripts.Application.AccountController_min_js)"></script>
    <script src="@Url.Content(Links.Scripts.Application.EducationController_min_js)"></script>
    <script src="@Url.Content(Links.Scripts.Application.WorkController_min_js)"></script>
}