@model IEnumerable<Class>
@using YekanPedia.ManagementSystem.Domain.Entity

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-responsive table-hover">
            <table id="classDataGrid" class="table table-striped ">
                @{ Html.RenderPartial(MVC.Class.Views.Partial._HeaderClassGrid, new Class());}
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.FinishDateMi.AddDays(14) > DateTime.Now ? "classNearFinish" : "")">
                            <td data-visible="false">@item.ClassId</td>
                            <td>@item.ClassType.Type</td>
                            <td>@item.Course.CourseName</td>
                            <td>@item.User.FullName</td>

                            <td>@item.SessionCount</td>
                            <td>@item.StartDateSh</td>
                            <td>@item.FinishDateSh</td>
                            <td>@item.Capacity</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>
