@model IEnumerable<Class>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="table-responsive table-hover ClassGrid">
            <table id="classDataGrid" class="table table-striped ">
                @{ Html.RenderPartial(MVC.Class.Views.Partial._HeaderClassGrid, new Class());}
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.FinishDateMi.AddDays(14) > DateTime.Now ? "classNearFinish" : "") ">
                            <td data-visible="false">@item.ClassId</td>
                            <td>@item.ClassType.Type</td>
                            <td>@item.Course.CourseName</td>
                            <td>@item.User.FullName</td>
                            <td>
                                @foreach (var time in item.ClassTime)
                                {
                                    Write(time.ToString());
                                }
                            </td>
                            <td>@item.SessionCount</td>
                            <td>@(item.ClassSession.Where(X => X.IsCanceled == false).Count() * 2)</td>
                            <td>@item.StartDateSh</td>
                            <td>@item.FinishDateSh</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>
