@{ Layout = null;}

@using (Ajax.BeginForm(MVC.Notification.ActionNames.SendToClass, MVC.Notification.Name, null, new AjaxOptions
{
    HttpMethod = "POST",
    OnComplete = "onSendClassPrivateNotificationComplete"
}, new { @id = "sendNotificationFrm" }))
{
    <input type="hidden" value="" name="classId" id="ClassId_PrivateMessage" />
    <div class="modal fade " id="sendClassPrivateMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@LocalMessage.SendMessage</h4>
                </div>
                <div class="modal-body">
                    <p>@LocalMessage.SendMessageDescription</p>
                    <div class="input-group has-feedback m-b-20">
                        <div class="fg-line">
                            <textarea id="message_PrivateMessage" data-val-required="این فیلد اجباری می باشد" name="message" maxlength="200" autocomplete="off" placeholder="@LocalMessage.Content" class="form-control" data-val="true" data-val-length="لطفا بیشتر از 200 کاراکتر وارد ننمایید" data-val-length-max="200" data-val-maxlength="لطفا بیشتر از 200 کاراکتر وارد ننمایید" data-val-maxlength-max="200" value="" rows="5"></textarea>
                        </div>
                        <small class="help-block">
                            <span class="field-validation-valid" data-valmsg-for="message" data-valmsg-replace="true"></span>
                        </small>
                        <span class="zmdi form-control-feedback"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="saveAboutMeForm" class="btn btn-primary btn-sm waves-effect">
                        <i class="zmdi zmdi-check"></i>
                        @LocalMessage.Save
                    </button>
                    <button class="btn btn-danger btn-sm waves-effect" data-dismiss="modal">
                        <i class="zmdi zmdi-arrow-forward"></i>
                        @LocalMessage.Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

}